.one,
.two{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.one{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.two{
    
    background-color: rgb(238, 255, 0);
}
/* Add CSS Styling */